# SQL (Structured Query Language)

SQL is a standard language for storing, manipulating and retrieving data in databases.

SQLite is a software library SQL database engine which provides RDMS (Relational 
Database Management System)

### Some of The Most Important SQL Commands
- CREATE TABLE - creates a new table
- INSERT INTO - inserts new data into a database
- UPDATE - updates data in a database
- SELECT - extracts data from a database

## Import sqlite3 Module

    import sqlite3
## Connect to sqlite3

    sqlite3.connect

    connection.execute(sql)

    connection.commit()

In [1]:
#Create Table
'''
CREATE TABLE IF NOT EXISTS FileName
(ID INTEGER PRIMARY KEY AUTOINCREMENT,
Name TEXT NOT NULL,
Gender TEXT NOT NULL,
Phone TEXT) 
'''
#Insert Table
'''
INSERT INTO FileName (ID,Name,Gender,Phone)
VALUES (NULL, 'Name', 'Gender', 'Telephone Number'); 
'''
#Update Table
'''
UPDATE filename set Name = 'New Name'
where ID = Desire row;
'''
#Select Table
'''SELECT * FROM filename;'''

'SELECT * FROM filename;'

In [3]:
import sqlite3

#### Example10 : Create Table & Add Data to SQL

In [7]:
def Create(filename):
    try:
        connection = sqlite3.connect(filename)
        sql = '''CREATE TABLE IF NOT EXISTS Student
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                gender TEXT,
                phone TEXT);'''
        connection.execute(sql)
        connection.commit()
        connection.close()
    except connection.Error as e:
        print(e)
    finally:
        print('Database has been created')

In [8]:
Create('Example10.db')

Database has been created

In [9]:
def Add(filename):
    try:
        connection = sqlite3.connect(filename)
        connection.execute("INSERT INTO student(id,name,gender,phone) VALUES (NULL,?,?,?)",
                           ('Gun','Male','0846541717'))
        sql = '''INSERT INTO student(id,name,gender,phone)
                VALUES (NULL,'Sammy','Feale','080843462272');'''
        connection.execute(sql)
        sql = '''INSERT INTO student(id,name,gender,phone)
                VALUES (NULL,'Nott','Male','0842345676');'''
        connection.execute(sql)
        connection.commit()
    except connection.Error as e:
        print(e)
        connection.close()
    finally:
        print('Adding has been created')

In [10]:
Add('Example10.db')

Adding has been created

#### Example11 : Update Data to SQL

In [20]:
def UpdateSQL(filename): 
    try:
        connection = sqlite3.connect(filename)
        sql = '''UPDATE Student set NAME = 'Ninja' where ID=1;'''
        connection.execute(sql)
        connection.commit()
        print("Update at row :", connection.total_changes)
    except connection.Error as e:
        print(e)
    finally:
        connection.close()
        print("Data Base has added")

In [21]:
UpdateSQL('Example10.db')

Update at row : 1
Data Base has added

#### Example 12 : Read data from SQL

In [25]:
import sqlite3

try:
    connection = sqlite3.connect('Example10.db')
    sql = '''SELECT * FROM Student;'''
    DataDone = connection.execute(sql)
    for row in DataDone:
        print(row)
except connection.Error as e:
    print(e)
finally :
    print("Database has read")
    connection.close()

(1, 'Ninja', 'Male', '0846541717')
(2, 'Sammy', 'Feale', '080843462272')
(3, 'Nott', 'Male', '0842345676')
Database has read

#### optional Pandas

In [23]:
import pandas as pd
def ReadSQL(filename):
    connection = sqlite3.connect(filename)
    data = pd.read_sql("SELECT * from Student",connection)
    return data

ReadSQL('Example10.db')

   id   name gender         phone
0   1  Ninja   Male    0846541717
1   2  Sammy  Feale  080843462272
2   3   Nott   Male    0842345676

#### Test3 : GUI + SQL

In [ ]:
import sqlite3
from tkinter import *
from tkinter import messagebox
def write():
    def createdb():
        try:
            connection = sqlite3.connect('Test3.db')
            print('Database has been created')
            sql = '''CREATE TABLE IF NOT EXISTS Student
                    (id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT NOT NULL,
                    gender TEXT,
                    phone TEXT
                    age TEXT NOT NULL);'''
            connection.execute(sql)
            connection.commit()
            connection.close()
        except connection as e:
            print(e)

    def insertdb():
        try:
            connection = sqlite3.connect('Test3.db')
            print('Database has been added')
            connection.execute('INSERT INTO student(name,gender,phone,age) VALUES (?,?,?,?)',
                               (fullName.get(), gender.get(), phone.get(),age.get()))
            connection.commit()
            connection.close()
        except connection.Error as e:
            print(e)
    global fullName, phone, gender
    window = Tk()
    window.title('Test3')
    window.geometry('500x300+500+200')
    window.resizable(False, False)
    # StringVar
    fullName = StringVar()
    phone = StringVar()
    gender = StringVar()
    age = StringVar()
    gender.set(0)
    # Name
    NameLabel = Label(window, text='First Name')  # label
    NameLabel.place(x=80, y=40)
    NameEntry = Entry(window, textvariable=fullName, width=30)  # entry
    NameEntry.place(x=220, y=40)
    # Gender
    GenderLabel = Label(window, text='Gender')  # label
    GenderLabel.place(x=80, y=80)
    GenderButton = Radiobutton(window, text='Male', variable=gender, value='Male')  # radio male
    GenderButton.place(x=220, y=80)
    GenderButton = Radiobutton(window, text='Female', variable=gender, value='Female')  # radio female
    GenderButton.place(x=300, y=80)
    # Phone
    PhoneLabel = Label(window, text='Phone Number')  # label
    PhoneLabel.place(x=80, y=120)
    PhoneEntry = Entry(window, textvariable=phone, width=30)  # entry
    PhoneEntry.place(x=220, y=120)

    #Age
    AgeLabel = Label(window, text='Age')  # label
    AgeLabel.place(x=80, y=160)
    AgeEntry = Entry(window, textvariable=age, width=30)  # entry
    AgeEntry.place(x=220, y=160)
    # Confirm
    ConfirmButton = Button(window, text='Confirm to Database', width=15,
                           height=3, bg='brown', fg='white', command=insertdb)
    ConfirmButton.place(x=250, y=220, anchor='center')
    window.mainloop()
    createdb()

# write()

#### Test4 : GUI + SQL

In [ ]:
from tkinter import *
from tkinter import messagebox
import sqlite3
import Test5
def read():
    def readdata():
        try:
            conn = sqlite3.connect('Test3.db')
            list = conn.execute("SELECT * FROM Student WHERE id = ?",(Var1.get()))
            for column in list:
                Var2.set(column[0])
                Var3.set(column[1])
                Var4.set(column[2])
                Var5.set(column[3])
            Etn1.delete(0, 'end')
            conn.close()
        except conn.Error as e:
            print(e)

    window = Tk()
    window.title('Test4')
    window.geometry('500x300+500+200')
    window.resizable(False, False)
    # StringVarFunction
    Var1 = StringVar()
    Var2 = StringVar()
    Var3 = StringVar()
    Var4 = StringVar()
    Var5 = StringVar()
    #FramePart
    F1 = Frame(window,width=500,height=250,bg='orange')
    F1.pack()
    F2 = Frame(window,width=500,height=50,bg='gold')
    F2.pack()
    #LabelPart
    idinsert = Label(F1,text='Insert ID: :',font=(None,20),bg='orange')
    idinsert.place(x=120,y=20,anchor='w')
    id = Label(F1,text='ID :',font=(None,20),bg='orange')
    id.place(x=120,y=70,anchor='w')
    name = Label(F1,text='Name :',font=(None,20),bg='orange')
    name.place(x=120,y=120,anchor='w')
    gender = Label(F1,text='Gender :',font=(None,20),bg='orange')
    gender.place(x=120,y=170,anchor='w')
    age = Label(F1, text='Age:', font=(None, 20), bg='orange')
    age.place(x=120, y=220, anchor='w')
    #EntryPart
    Etn1 = Entry(F1,textvariable=Var1)
    Etn1.place(x=300,y=20,anchor='center')
    Etn2 = Entry(F1,textvariable=Var2,state=DISABLED)
    Etn2.place(x=300,y=70,anchor='center')
    Etn3 = Entry(F1,textvariable=Var3,state=DISABLED)
    Etn3.place(x=300,y=120,anchor='center')
    Etn4 = Entry(F1,textvariable=Var4,state=DISABLED)
    Etn4.place(x=300,y=170,anchor='center')
    Etn5 = Entry(F1, textvariable=Var5, state=DISABLED)
    Etn5.place(x=300, y=220, anchor='center')
    #ButtonPart
    Read = Button(F2,text='Read Database',width=20,height=2,command=readdata)
    Read.place(x=150,y=25,anchor='center')
    Next = Button(F2, text='Next to Update data', width=20, height=2, command=Test5.updatedata)
    Next.place(x=350, y=25, anchor='center')
    #For Pycharm
    window.mainloop()
    
# read()

#### Case Study III : GUI Insert & Read SQL 

- Test3 + Test4

In [30]:
from tkinter import *
# import Test3
# import Test4

def Main():
    def Quit():
        window.destroy()
        print('Window has been exited')
    global window, KDL
    window = Tk()
    window.geometry('500x300+500+200')
    window.title('Screen1 with Case Study2')
    window.resizable(False,False)
    #Frame1
    Frame1 = Frame(window, width=250, height=300, bg = 'black')
    Frame1.pack(side = LEFT)
    # KDL = PhotoImage(file='Kiddee300.gif')
    # CV = Canvas(Frame1,width=250, height=300)
    # CV.create_image(125,150,anchor = 'c', image = KDL)
    # CV.pack()
    #Frame2
    Frame2 = Frame(window, width=250, height=300, bg = 'royalblue4')
    Frame2.pack(side = RIGHT)
    WriteButton = Button(Frame2, text = 'Writing',width = 15,
                         height = 3 ,bg = 'forestgreen',fg = 'white',command = Test3.write)
    WriteButton.place(x=125,y=70, anchor = 'c')
    ReadButton = Button(Frame2, text = 'Read',width = 15,
                         height = 3 ,bg = 'deepskyblue',fg = 'white',command = Test4.read)
    ReadButton.place(x=125,y=150, anchor = 'c')
    QuitButton = Button(Frame2, text = 'Exit',width = 15,
                         height = 3 ,bg = 'red3',fg = 'white',command = Quit)
    QuitButton.place(x=125,y=230, anchor = 'c')
    window.mainloop()

#Calling Main
Main()