# Pandas
## What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

## Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [1]:
#!pip install pandas

In [1]:
import pandas as pd
pd.__version__

'1.4.1'

## DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

### Numpy Array

In [2]:
import numpy as np
array = np.array(
    [
        [100,200,300],
        [400,500,600],
        [700,800,900]
    ]
)
df_array = pd.DataFrame(array)
print(df_array)
print(type(df_array))

     0    1    2
0  100  200  300
1  400  500  600
2  700  800  900
<class 'pandas.core.frame.DataFrame'>

### Dictionary

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford","Porsche"],
  'establish': [1922, 1915, 1903,1931],
  'Headquarter':['Germany','Sweden','U.S.','Germany']
}

df_mydataset = pd.DataFrame(mydataset)

print(df_mydataset)
print(type(df_mydataset))

      cars  establish Headquarter
0      BMW       1922     Germany
1    Volvo       1915      Sweden
2     Ford       1903        U.S.
3  Porsche       1931     Germany
<class 'pandas.core.frame.DataFrame'>

## Drop()

Drop method removes the specified row or column.
1. Drop Column
    Format : dataframe.drop(labels,columns='columns')
2. Drop Row
    Format : dataframe.drop(labels,index=value)
3. Both
    Format : dataframe.drop(labels,columns='columns',index=value)

In [4]:
drop_column = df_mydataset.drop(columns='Headquarter')
drop_column

      cars  establish
0      BMW       1922
1    Volvo       1915
2     Ford       1903
3  Porsche       1931

In [5]:
drop_row = df_mydataset.drop(index=0)
drop_row

      cars  establish Headquarter
1    Volvo       1915      Sweden
2     Ford       1903        U.S.
3  Porsche       1931     Germany

In [6]:
drop_row = df_mydataset.drop(index=[0,2])
drop_row

      cars  establish Headquarter
1    Volvo       1915      Sweden
3  Porsche       1931     Germany

## Rename()

change the row indexes, and the columns labels.

Format : dataframe.rename(mapper, index, columns, axis, copy, inplace=False)

In [7]:
df_mydataset.rename(columns={'cars':'vehicle'},inplace=True)
df_mydataset

   vehicle  establish Headquarter
0      BMW       1922     Germany
1    Volvo       1915      Sweden
2     Ford       1903        U.S.
3  Porsche       1931     Germany

## What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [8]:
import pandas as pd
data = [100, 200, 300, 400]
# data = [20.3, 3.14, 23.6, 50]
df_series = pd.Series(data)
print(df_series)
print(type(df_series))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [9]:
print(df_series[0])

100

In [10]:
import pandas as pd
data = [100, 200, 300, 400]
df_series = pd.Series(data,index=['a','b','c','d'])
print(df_series)

a    100
b    200
c    300
d    400
dtype: int64

### Key/Value Objects as Series

In [11]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
df = pd.Series(calories)
print(df)

day1    420
day2    380
day3    390
dtype: int64

## Locate Row
## iloc()

As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [27]:
df_mydataset.iloc[0] #Index

vehicle            BMW
establish         1922
Headquarter    Germany
Name: 0, dtype: object

In [29]:
df_mydataset.loc[0:1] #Slicing

  vehicle  establish Headquarter
0     BMW       1922     Germany
1   Volvo       1915      Sweden

In [28]:
df_mydataset.loc[[0, 1]] #Fancy Indexing

  vehicle  establish Headquarter
0     BMW       1922     Germany
1   Volvo       1915      Sweden

*Note:* When using [], the result is a Pandas DataFrame.

In [14]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df_run = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df_run

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Locate Named Indexes
## loc()

Use the named index in the loc attribute to return the specified row(s).

In [15]:
df_run.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

# Data Sciencist Example

## Load Files Into a DataFrame

In [22]:
df = pd.read_csv('./data/howlongwelive.csv')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## Info About the Data

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

## Checking Null Value

In [45]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Data Cleaning : fixing bad data in your data set.

Bad data could be:

- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

## Shape

In [30]:
df.shape

(2938, 22)

## Drop 

Remove all rows wit NULL values from the DataFrame.

In [31]:
new_df = df.dropna()
new_df.shape

(1649, 22)

In [61]:
df.dropna(inplace = True) #inplace = True is return to df
df.shape

(1649, 22)

In [32]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [67]:
df.corr()
#Note: The corr() method ignores "not numeric" columns.

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,1.000000,0.050771,-0.037092,0.008029,-0.113365,0.069553,0.114897,-0.053822,0.005739,0.010479,-0.016699,0.059493,0.029641,-0.123405,0.096421,0.012567,0.019757,0.014122,0.122892,0.088732
Life expectancy,0.050771,1.000000,-0.702523,-0.169074,0.402718,0.409631,0.199935,-0.068881,0.542042,-0.192265,0.327294,0.174718,0.341331,-0.592236,0.441322,-0.022305,-0.457838,-0.457508,0.721083,0.727630
Adult Mortality,-0.037092,-0.702523,1.000000,0.042450,-0.175535,-0.237610,-0.105225,-0.003967,-0.351542,0.060365,-0.199853,-0.085227,-0.191429,0.550691,-0.255035,-0.015012,0.272230,0.286723,-0.442203,-0.421171
infant deaths,0.008029,-0.169074,0.042450,1.000000,-0.106217,-0.090765,-0.231769,0.532680,-0.234425,0.996906,-0.156929,-0.146951,-0.161871,0.007712,-0.098092,0.671758,0.463415,0.461908,-0.134754,-0.214372
Alcohol,-0.113365,0.402718,-0.175535,-0.106217,1.000000,0.417047,0.109889,-0.050110,0.353396,-0.101082,0.240315,0.214885,0.242951,-0.027113,0.443433,-0.028880,-0.403755,-0.386208,0.561074,0.616975
percentage expenditure,0.069553,0.409631,-0.237610,-0.090765,0.417047,1.000000,0.016760,-0.063071,0.242738,-0.092158,0.128626,0.183872,0.134813,-0.095085,0.959299,-0.016792,-0.255035,-0.255635,0.402170,0.422088
Hepatitis B,0.114897,0.199935,-0.105225,-0.231769,0.109889,0.016760,1.000000,-0.124800,0.143302,-0.240766,0.463331,0.113327,0.588990,-0.094802,0.041850,-0.129723,-0.129406,-0.133251,0.184921,0.215182
Measles,-0.053822,-0.068881,-0.003967,0.532680,-0.050110,-0.063071,-0.124800,1.000000,-0.153245,0.517506,-0.057850,-0.113583,-0.058606,-0.003522,-0.064768,0.321946,0.180642,0.174946,-0.058277,-0.115660
BMI,0.005739,0.542042,-0.351542,-0.234425,0.353396,0.242738,0.143302,-0.153245,1.000000,-0.242137,0.186268,0.189469,0.176295,-0.210897,0.266114,-0.081416,-0.547018,-0.554094,0.510505,0.554844
under-five deaths,0.010479,-0.192265,0.060365,0.996906,-0.101082,-0.092158,-0.240766,0.517506,-0.242137,1.000000,-0.171164,-0.145803,-0.178448,0.019476,-0.100331,0.658680,0.464785,0.462289,-0.148097,-0.226013
Polio,-0.016699,0.327294,-0.199853,-0.156929,0.240315,0.128626,0.463331,-0.057850,0.186268,-0.171164,1.000000,0.119768,0.609245,-0.107885,0.156809,-0.045387,-0.164070,-0.174489,0.314682,0.350147
Total expenditure,0.059493,0.174718,-0.085227,-0.146951,0.214885,0.183872,0.113327,-0.113583,0.189469,-0.145803,0.119768,1.000000,0.129915,0.043101,0.180373,-0.079962,-0.209872,-0.217865,0.183653,0.243783
Diphtheria,0.029641,0.341331,-0.191429,-0.161871,0.242951,0.134813,0.588990,-0.058606,0.176295,-0.178448,0.609245,0.129915,1.000000,-0.117601,0.158438,-0.039898,-0.187242,-0.180952,0.343262,0.350398
HIV/AIDS,-0.123405,-0.592236,0.550691,0.007712,-0.027113,-0.095085,-0.094802,-0.003522,-0.210897,0.019476,-0.107885,0.043101,-0.117601,1.000000,-0.108081,-0.027801,0.172592,0.183147,-0.248590,-0.211840
GDP,0.096421,0.441322,-0.255035,-0.098092,0.443433,0.959299,0.041850,-0.064768,0.266114,-0.100331,0.156809,0.180373,0.158438,-0.108081,1.000000,-0.020369,-0.277498,-0.277959,0.446856,0.467947
Population,0.012567,-0.022305,-0.015012,0.671758,-0.028880,-0.016792,-0.129723,0.321946,-0.081416,0.658680,-0.045387,-0.079962,-0.039898,-0.027801,-0.020369,1.000000,0.282529,0.277913,-0.008132,-0.040312
thinness 1-19 years,0.019757,-0.457838,0.272230,0.463415,-0.403755,-0.255035,-0.129406,0.180642,-0.547018,0.464785,-0.164070,-0.209872,-0.187242,0.172592,-0.277498,0.282529,1.000000,0.927913,-0.453679,-0.491199
thinness 5-9 years,0.014122,-0.457508,0.286723,0.461908,-0.386208,-0.255635,-0.133251,0.174946,-0.554094,0.462289,-0.174489,-0.217865,-0.180952,0.183147,-0.277959,0.277913,0.927913,1.000000,-0.438484,-0.472482
Income composition of resources,0.122892,0.721083,-0.442203,-0.134754,0.561074,0.402170,0.184921,-0.058277,0.510505,-0.148097,0.314682,0.183653,0.343262,-0.248590,0.446856,-0.008132,-0.453679,-0.438484,1.000000,0.784741
Schooling,0.088732,0.727630,-0.421171,-0.214372,0.616975,0.422088,0.215182,-0.115660,0.554844,-0.226013,0.350147,0.243783,0.350398,-0.211840,0.467947,-0.040312,-0.491199,-0.472482,0.784741,1.000000

### Replace Empty Values

### Replace Using Mean, Median, or Mode

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [64]:
mean_life = df['Life expectancy '].mean()
median_life = df['Life expectancy '].median()
mode_life = df['Life expectancy '].mode()[0]
mean_life, median_life, mode_life

(69.3023044269254, 71.7, 73.0)

In [52]:
df['Life expectancy '].fillna(mean_life, inplace = True)

In [54]:
df['Life expectancy '].isnull().sum()

0