<img src = "./figure/array.png" width=400>

In [10]:
list_ = [1,2,3,4,5] #list
tuple_ = (1,2,3,4,5) #tuple
set_ = {1,2,3,4,5} #set

In [13]:
#set -> list or tuple calling index
new_set = list(set_)
new_set[0]

1

In [20]:
list_[0:2] #start:end(exclude):step #tuple is also avaible

[1, 2]

In [21]:
set_[0]

TypeError: 'set' object is not subscriptable

In [25]:
list_ = [1,2,3,4,5,5,3,4] #list
tuple_ = (1,2,3,4,5,1,3) #tuple
set_ = {1,2,3,4,5,5,1,2} #set

In [26]:
list_, tuple_, set_

([1, 2, 3, 4, 5, 5, 3, 4], (1, 2, 3, 4, 5, 1, 3), {1, 2, 3, 4, 5})

In [29]:
list_[1] = 5 #2->5
list_

[1, 5, 3, 4, 5, 5, 3, 4]

In [38]:
##dictionary key : value
cars = {
    'BMW' : 'Germany', 
    'Toyota' : 'Japan'
}

In [39]:
cars['BMW']

'Germany'

In [62]:
schedule = {
    'monday'     : ['a','b','c'],
    'tuesday'    : ['c'],
    'wednesday'  : ['d'],
    'thursday'   : ['a'],
    'friday'     : ['3']
}

In [63]:
schedule['monday']

['a', 'b', 'c']

In [ ]:
# Create a dictionary of word definitions
word_definitions = {
    "apple": "A round fruit with red or green skin and crisp flesh.",
    "banana": "A long curved fruit with yellow skin.",
    "cat": "A small domesticated carnivorous mammal.",
    "dog": "A domesticated carnivorous mammal that typically has a long snout, an acute sense of smell, and a barking, howling, or whining voice.",
    # Add more words and definitions here
}

# Function to look up word definitions
def lookup_definition():
    word = input("Enter a word to look up: ")
    definition = word_definitions.get(word.lower()) #word_definitions['key']
    if definition:
        print(f"{word}: {definition}")
    else:
        print(f"Sorry, the definition for '{word}' is not available.")

# Main program loop
while True:
    print("\n*** Dictionary Program ***")
    print("1. Look up a word")
    print("2. Exit")
    choice = input("Enter your choice (1 or 2): ")

    if choice == "1":
        lookup_definition()
    elif choice == "2":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")

In [72]:
#methods/function 
x = 'Hello Kiddee Lab'
print(type(x))

<class 'str'>

In [73]:
x.lower()

'hello kiddee lab'

In [74]:
x.upper()

'HELLO KIDDEE LAB'

In [75]:
x.capitalize()

'Hello kiddee lab'

In [76]:
x.count('l')

2

In [79]:
x.replace(' ','-') #old,new

'Hello-Kiddee-Lab'

In [84]:
x.split(' ') #str -> list

['Hello', 'Kiddee', 'Lab']

In [88]:
alpha = ['a','b','c']

''.join(alpha) #list -> str

'a|b|c'

In [105]:
list_ = [1,24,78,-1,129,120]
list_

[1, 24, 78, -1, 129, 120]

In [100]:
list_.append(5) #replace true #adding to the last item
list_

[1, 24, 78, -1, 129, 120, 5]

In [101]:
list_.insert(0, 100) #index, value
list_

[100, 1, 24, 78, -1, 129, 120, 5]

In [102]:
#remove delete specific value 
#pop delete specific index

list_.remove(-1)
list_

[100, 1, 24, 78, 129, 120, 5]

In [104]:
list_.pop(0) #delete last item
list_

[1, 24, 78, 129, 120]

In [113]:
s1 = {1,2,3}
s2 = {4,5,3}

s1.intersection(s2)
s1.union(s2)
s1.difference(s2)
s2.difference(s1)
s1.add(5) #add 1 item
s1.update({5,6,7}) #add many items
s1

{1, 2, 3, 5, 6, 7}

In [114]:
##dictionary key : value
cars = {
    'BMW' : 'Germany', 
    'Toyota' : 'Japan'
}

In [116]:
cars['BMW']
cars.get('BMW')

'Germany'

In [123]:
for i in cars.keys():
    print(i)

BMW
Toyota

In [118]:
cars.values()

dict_values(['Germany', 'Japan'])

In [124]:
for i in cars.items():
    print(i)

dict_items([('BMW', 'Germany'), ('Toyota', 'Japan')])

In [128]:
cars.update({'Ford' : 'USA'})
cars

{'BMW': 'Germany', 'Toyota': 'Japan', 'Ford': 'USA'}

In [131]:
cars.pop('Ford')
cars

{'BMW': 'Germany', 'Toyota': 'Japan'}

In [132]:
cars.popitem()
cars

{'BMW': 'Germany'}

In [133]:
rr = [2, -1, 3, 4, -2, 5, -3]
sum(rr)

8

In [134]:
def find_missing_number(nums):
    # Your code here
    for index, value in enumerate(nums):
        if index+1 == value:
            pass
        else:
            return index+1

find_missing_number([1,2,4])

3